.blogr__home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header";
}
/************************** START HEADER *******************************/

.header {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1.3fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header__img header__nav header__nav"
    "header__title header__title header__title"
    "header__dtn header__dtn header__dtn";
  grid-area: header;

  background-image: linear-gradient(
      -135deg,
      var(--Very-light-red),
      var(--Light-red)
    ),
    url("../../../images/bg-pattern-intro.svg");
  background-position: left;
  background-size: 110%;
  background-blend-mode: color;
  background-repeat: no-repeat;
  padding: 4em;
  border-bottom-left-radius: 6rem;
}
// ----------- FIRST SECTION header__img  ==> LOGO / ICON MOBILE
.header__img {
  justify-self: center;
  grid-area: header__img;
}

//------------ SECOND SECTION header__nav ==> NAVIGATION MENU
.header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header__nav__wrapper header__nav__ctn";
  font-size: 0.8em;
  grid-area: header__nav;
}

.header__nav__wrapper {
  display: flex;
  gap: 2em;
  grid-area: header__nav__wrapper;
  a {
    color: var(--White);
  }
}
.header__nav__wrapper__items {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
  gap: 1em;
  position: relative;
  &:hover {
    .header__nav__wrapper__items__submenu {
      display: flex;
    }
    .icon__arrow {
      transform: rotate(180deg);
    }
  }
}

.header__nav__wrapper__items__heading {
  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.header__nav__wrapper__items__submenu {
  display: none;
  // display: flex;
  position: absolute;
  top: 2em;
  width: 6.25em;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 0.2em;

  // padding: 1.5em;
  transform: translate(-15px);

  a {
    color: var(--Very-dark-blue);
    padding: 0.4em;
  }
  :hover {
    font-weight: bold;
  }
}
// --- SUB-SECTION BUTTONS LOGIN / SIGN-UP
.header__nav__ctn {
  display: flex;
  justify-content: center;
  gap: 1em;
  grid-area: header__nav__ctn;
}

.header__nav__ctn__line {
  display: none;
}

.header__nav__ctn__btns {
  a {
    padding: 1em 2.65em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2em;
  }
}
.header__nav__ctn__btns__log {
  color: var(--White);
}

.header__nav__ctn__btns__sign {
  background-color: var(--White);
  color: var(--Light-red);
  &:hover {
    color: var(--White);
    background-image: linear-gradient(
      135deg,
      var(--Very-light-red),
      var(--Light-red)
    );
  }
}
// ---------- THIRD SECTION  header__title ==> TITLE / DISCRIPTION
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: var(--White);
  grid-area: header__title;
}

.header__title__content {
  font-size: 3em;
}

.header__title__disc {
  font-size: 1.2em;
  color: var(--Grayish-blue);
}
// ---------- FOURTH SECTION header__dtn ==> BUTTONS DOCUMENTATIONS
.header__dtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  grid-area: header__dtn;
}

.header__dtn__sFf,
.header__dtn__lm {
  a {
    border: 1px solid var(--White);
    padding: 1em 2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2em;
    background-color: var(--White);
  }
}

.header__dtn__sFf {
  a {
    border: none;
    color: var(--Light-red);
    &:hover {
      color: var(--White);
      background-image: linear-gradient(
        135deg,
        var(--Very-light-red),
        var(--Light-red)
      );
    }
  }
}

.header__dtn__lm {
  a {
    border: 1px solid var(--Grayish-blue);
    color: var(--White);
    background-image: linear-gradient(
      135deg,
      var(--Very-light-red),
      var(--Light-red)
    );

    &:hover {
      border: none;
      background-image: none;
      color: var(--Light-red);
    }
  }
}
